<!-- Citation: Code from Node.JS Starter Guide used as template from source: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<h2>Dynamic Publisher Table</h2>
{{!-- Create a table --}}
<table id="publishers-table" class="dynamic-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Publisher ID</th>
            <th>Publisher Name</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.publisherID}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- ADD PUBLISHER FORM -->
<div  class="form-box">
<h2>Add a New Publisher</h2>
<p>To add a new publisher, please enter their information below and click 'Submit'!</p>
<form id="add-publisher-form-ajax">
    <label for="input-name">Publisher Name: </label>
    <input type="text" name="input-name" id="input-name" required>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_publisher.js"></script>
</div>
