<!-- Citation: Code from Node.JS Starter Guide used as template from source: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<!-- index.hbs -->

    <main>
        <section>
            <article>
                <h2>About</h2>
                <p><strong>Authors:</strong> Cassidy Williams and Tallent Hagan</p>
                <p>CS340</p>
                <p>Group 55</p>
            </article>
            <article id="customers">
                <h2>Customers</h2>
                <p>
                    View a list of all Customers. Allows you to add, delete, or update Customers.
                </p>
                <p><strong>Dynamic Table - READ and CREATE operations implemented.</strong></p>
            </article>
            <article id="orders">
                <h2>Orders</h2>
                <p>
                    View a list of all Orders. Allows you to add, delete, or update Orders.
                </p>
                <p style="color:green;"><strong>Dynamic Table - All CRUD operations implemented (Requires Page Reload to see changes).</strong></p>
            </article>
            <article id="books">
                <h2>Books</h2>
                <p>
                    View a list of all Books. Allows you to add, delete, or update Books.
                </p>
                <p><strong>Dynamic Table - READ, CREATE, and UPDATE implemented. Update allows for Publisher FK to be NULL'd.</strong></p>
            </article>
            <article id="authors">
                <h2>Authors</h2>
                <p>
                    View a list of all Authors. Allows you to add, delete, or update Authors.
                </p>
                <p><strong>Dynamic Table - READ and CREATE operations implemented.</strong></p>
            </article>
            <article id="customers">
                <h2>Publishers</h2>
                <p>
                    View a list of all Publishers. Allows you to add, delete, or update Publishers.
                </p>
                <p><strong>Dynamic Table - READ and CREATE operations implemented.</strong></p>
            </article>
            <article id="BooksOnOrder">
                <h2>Books on Order</h2>
                <p>
                    View book line items for orders. Allows you to add, delete, or update book line items.
                </p>
                <p><strong>Dynamic Table - READ and CREATE operations implemented (M:M Intersection Table).</strong></p>
            </article>
                        <article id="BookAuthors">
                <h2>Book Authors</h2>
                <p>
                    View book line items for orders. Allows you to add, delete, or update book line items.
                </p>
                <p style="color:green;"><strong>Dynamic Table - All CRUD operations implemented (M:M Intersection Table).</strong></p>
            </article>
        </section>
    </main>



